#info-header.row
  .col-md-5
    %h3= @user.email 
  .col-md-2
      %a#login.btn.btn-default  
      %span.glyphicon.glyphicon-off 
      Inno1
  .col-md-2
      %a#registro.btn.btn-default  
      %span.glyphicon.glyphicon-off 
      Inno2
  .col-md-2.col-md-offset-1.text-center
    %a.btn.btn-default.log-out  
      %span.glyphicon.glyphicon-off 
      Log Out
.row
  .col-md-12.map-container
    #mapid
=react_component('Container', {name: 'Epa'},{prerender: true})
