// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color:#DBE9EE;
}
.log-out{
  margin-top: 12px;
}
.option-container{
  height: 60px;
  padding-top:12px;
  background-color: #34495e;
}
#info-header{
  height: 60px;
  color: whitesmoke;
}
.map-container{
  background-color: black;
  padding: 5px;
  
}
#mapid{
  height: 300px;
}
.UserInfo {
  
}
.Route-selected {
  background-color: black;
}
.Route-Info {
  color: whitesmoke;
  background-color:#95a5a6;
  padding: 5px;
  .route-specs{
    border-radius: 5px;
    margin: 5px;
    border: 3px solid black;
    height: 70px;
  }
  .routeinfo-label{
    font-family: 'Ubuntu' , sans-serif;
    font-size: 25px;
  }
}
.under-construction{
  height: 150px;
  margin-left: 125px;
}

.Route {
  padding: 0px;
  border: 1px solid black;
}
.TravelRoutes{
  padding-bottom: 10px;
  padding: 5px;
}
.Travels{
  text-decoration: none;
  height: 100%;
  padding: 5px;
  background-color: #bdc3c7;
  .travels-label{
    font-family: 'Ubuntu' , sans-serif;
    font-size: 25px;
  }
}
.Travel{
  margin: 5px;
  box-sizing: border-box;
  background-color:#C0D6DF;
  border-radius: 5px;
  border: 3px solid black;
  padding-left: 10px;
  a {
    color: whitesmoke;
  }
  a:hover{
    text-decoration: none;
  }
  transition: 0.3s;
}
.Travel:hover{
  background-color: #7180B9;
  border: 4px solid black;
}
.LandingContainer{
  border: 1px solid red;
}
.LandingHeader{
  background-color:red;
  height:100px;
}
.LandingLoQueSea{
  background-color:blue;
  height:500px;
}
.LandingForm{
  background-color:orange;
  height:500px;
}
.LandingEslogan{
  background-color:green;
  height:200px;
}
.LandingFooter{
  background-color:purple;
  height:200px;
}
