<!DOCTYPE html>
<html>
<head>
  <title>PfTests</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
      <div class="container">
        <%= yield %>
      </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
    

     